#centered-container {
text-align: left; 
margin: 0 auto; 
max-width: 800px; 
}

#greeting {
float: right;
margin-right: 100px;
margin-top: 100px;
}

#desc1 {
height: 150px;
background-color: #E7DAFF;
font-size: 20px;
line-height: 1.5;
padding: 1px;
border-radius: 10px;
width: 96%;
margin-left: 35px;
text-align: left;
display: flex;
justify-content: center;
align-items: center;   
}

#desc2 {
float: left;
margin-left: 30px;
font-size: 20px;
line-height: 1.5;
}

#desc3 {
margin-top: 100px;
margin-right: 30px;
margin-bottom: 70px;
float: right;
font-size: 20px;
line-height: 1.5;
}

#desc3_2 {
clear: both;
font-size: 20px;
line-height: 1.5;
}

#image1 {
margin-top: 120px;
float: right;
margin-right: 50px;
}

#image2 {
clear: both;
float: left;
margin-top: 100px;
margin-left: 50px;
}

#image3 {
clear: both;
text-align: center;
}

#video1 {
clear: both;
float: left;
margin-left: 30px;
text-align: center;
border-style: solid;
border-radius: 10px;
margin-bottom: 50px;
}

#video2 {
float: right;
margin-right: 30px;
text-align: center;
border-style: solid;
border-radius: 10px;
margin-bottom: 50px;
}

#footer {
clear: both;
padding: 5px;
text-align: center;
background-color: #E7E7E7;
border-radius: 5px;
}

.slider-frame{
overflow: hidden;
height: 500px;
width: 900px;
margin-left: 430px;
margin-top: 20px;
}

@-webkit-keyframes slide_animation{
0% {left:0px;}
10% {left:0px;}
20% {left:1200px;}
30% {left:1200px;}
40% {left:2400px;}
50% {left:2400px;}
60% {left:1200px;}
70% {left:1200px;}
80% {left:0px;}
90% {left:0px;}
}

.slide-images{
width: 3600px;
height: 800px;
margin: 0 0 0 -2400px;
position: relative;
-webkit-animation-name: slide_animation;
-webkit-animation-duration: 15s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;
}

.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
    overflow: hidden;
}

.img-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block; /* Ensures proper spacing and centering within the container */
}

.controls {
    text-align: center;
}

.prev {
    position: absolute;
    left: 0;
	margin-left: 370px;
}

.next {
    position: absolute;
    right: 1;
	margin-left: 500px;
}

