@import url('https://fonts.googleapis.com/
    css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'
	);

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	display:flex;
	background: linear-gradient(#0f4675 30%, #54E5EA 70%, #fff 100%);
}

header {
	background-color: #0f4675;
	text-align: center;
	padding: 20px 0;
	color: white;
}

.slider-frame{
	overflow:hidden;
	height:800px;
	width:1100px;
	margin-left:50px;
	margin-right:50px;
	margin-top:40px;
}

@-webkit-keyframes slide_animation{
	0%{left:0px;}
	10%{left:0px;}
	20%{left:1200px;}
	30%{left:1200px;}
	40%{left:2400px;}
	50%{left:2400px;}
	60%{left:1200px;}
	70%{left:1200px;}
	80%{left:0px;}
	90%{left:0px;}
	100%{left:0px;}
}

.slide-images{
	width:3600px;
	height:800px;
	margin:0 0 0 -2400px;
	position: relative;
	-webkit-animation-name:slide_animation;
	-webkit-animation-duration:20s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}
	
.img-container{
	height:600px;
	width:1200px;
	position:relative;
	float:left;
} 